.page-style{
    text-align: center;
    background-color: aquamarine;
    
};

.shrift{
    text-align: left;
}

.app-wrapper{
 
}
.overview{
    text-align: left;
    margin-bottom: 10px;
}
.title{
    background-color: brown;
    text-decoration-skip-ink:inherit;
}
.all{
    align-items: center;
    background-image: url(https://images.prom.ua/2078628421_w640_h640_2078628421.jpg) ;
    background-size: auto;
}
.overview{
   
}


.dark {
    background-color: #333;
    color: #fff;
  }
  .light {
    background-color: #fff;
    color: #333;
  }

  .navbar {
    display: flex;
  
  gap: 20px;

  }


 
 